<!doctype html>
<html lang="en-GB">
  <%= partial "partials/head" %>
  <body class="terminal">
    <%= component :navigation, :main_navigation %>
    <div class="container">
      <%= yield %>

      <%= button text: "Default", type: :default, html: { class: "extra-class", id: "sfdf" } %>
      <%= button text: "Primary", type: :primary %>
      <%= button text: "Error", type: :error %>
      <%= button text: "Default Ghost", type: :default, ghost: true %>
      <%= button text: "Primary Ghost", type: :primary, ghost: true %>
      <%= button text: "Error Ghost", type: :error, ghost: true %>
      <%= button text: "Default Ghost", type: :default, block: true %>
      <%= button text: "Primary Ghost", type: :primary, block: true %>
      <%= button text: "Error Ghost", type: :error, block: true %>

      <%= component :button, :group, nil do 
        [
          button(text: "Left", type: :default, ghost: true),
          button(text: "Middle", type: :default, ghost: true),
          button(text: "Right", type: :default, ghost: true)
        ].join("")
      end %>

      <%= component :navigation, :main_footer, nil %>
    </div>
  </body>
</html>
